/* Start global rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules  */
/* Start components */
.main-title {
  width: fit-content;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 0px auto 80px;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  z-index: 10;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
}
.main-title::after {
  right: -30px;
}
.main-title::before {
  left: -30px;
}
.main-title:hover::after {
  z-index: -1;
  animation: rigth-move 0.5s linear forwards;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
/* End components */

/* start header */
.header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shsadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 22px;
  font-weight: bold;
  height: 80.7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .mainNav {
  display: flex;
}

.header .container .mainNav > li:hover .mega-menu {
  opacity: 1;
  z-index: 2;
  top: calc(100% + 1px);
}
.header .container .mainNav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80.7px;
  padding: 0px 30px;
  color: black;
  font-size: 18px;
  position: relative;
  transition: var(--main-transition);
  background-color: var(--main-transition);
}
@media (max-width: 767px) {
  .header .container .mainNav > li > a {
    padding: 10px;
    height: 50px;
  }
}
.header .container .mainNav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: var(--main-color);
  transition: width var(--main-transition) ease;
}
.header .container .mainNav > li > a:hover::before,
.header .container .mainNav > li > a.active::before {
  width: 100%;
}
.header .container .mainNav > li > a.active,
.header .container .mainNav > li > a:hover {
  color: var(--main-color);
  background-color: var(--section-background);
}
/* Start mega menu */
.header .mega-menu {
  position: absolute;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  width: 100%;
  left: 0;
  z-index: -1;
  padding: 30px;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}

/* makes the mega menu fits on mobiles */
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    padding: 5px;
    gap: 0;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: solid rgba(0, 0, 0, 0.084) 2px;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: solid rgba(0, 0, 0, 0.084) 2px;
  }
}
.header .mega-menu .links li a {
  font-size: 18px;
  padding: 15px;
  display: block;
  color: var(--main-color);
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image img {
    display: none;
  }
}
/* End mega menu */

/* End header */

/* Start landing */

.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transform: skewY(
    -6deg
  ); /* transfrom 6 degrees so it looks like wht it looks  */
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 80.7px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
.landing .container .text {
  flex: 1;
  color: #fafafa;
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h2 {
  font-size: 28px;
  font-weight: bold;
}
.landing .container .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #fafafa;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .container .text p {
    margin: 10px auto;
  }
}
/* bouncing the logo this makes the logo go up and down */
.landing .container .image img {
  width: 400px;
  max-width: 100%;
  position: relative;
  animation: up-and-down 3s linear infinite;
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}

/* End landing */

/* Start games */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .filters {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.articles .filters .filter-btn {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.articles .filters .filter-btn:hover {
  background-color: #333;
  transform: scale(1.05);
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid */
  gap: 40px;
  transition: all 0.5s ease-in-out;
}

.articles .container .card {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Aligns content consistently */
  height: 100%; /* Ensures consistent card heights */
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.articles .container .card:hover {
  transform: translateY(-5%);
}

.articles .container .card img {
  max-width: 100%;
  border-bottom: 1px solid #e6e6e7; /* Separates image from the text */
}

.articles .container .card .cardText {
  flex-grow: 1; /* Fills remaining space */
  padding: 15px;
}

.articles .container .card .cardText h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.articles .container .card .cardText p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
  /* white-space: nowrap; Ensures text truncation for consistency */
}

.articles .container .card .info {
  border-top: solid 1px #e6e6e7; /* Divider between text and buttons */
  padding: 15px;
  display: flex;
  justify-content: space-between; /* Aligns price and buy button on the same line */
  align-items: center;
}

.articles .container .card .info a {
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.articles .container .card .info a:hover {
  color: #333;
}

.articles .container .card .info i {
  color: var(--main-color);
}
/* Move arrow animation */
.articles .container .card:hover .info i {
  animation: move-arrow 0.6s linear infinite; /* Animates arrow on hover */
}
/* End games */

/* start popup */
/* Modal Styles */

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* General Styles for the Checkout Button */
#confirmCheckout {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding for size */
  font-size: 16px; /* Text size */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

/* Hover Effect */
#confirmCheckout:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05); /* Slightly larger */
}

/* Focus Effect */
#confirmCheckout:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 10px rgba(72, 239, 72, 0.8); /* Glow effect */
}
/* end popup */
/* Start gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .imageCard {
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
.gallery .container .imageCard .image {
  position: relative;
  overflow: hidden;
}
/* Flash effect */
.gallery .container .imageCard .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff41;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
/* fake color uses the flashing animation  */
.gallery .container .imageCard .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .container .imageCard .image img {
  max-width: 100%;
  transition: transform var(--main-transition);
}
/* on hover rotate the img  */
.gallery .container .imageCard .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End gallery */
/* Start features*/
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .featureCard {
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
  justify-content: space-between; /* Aligns content evenly */
  border: 1px solid #ccc;
  text-align: center;
  height: 100%; /* Ensures all cards are of equal height */
}

.features .featureCard .imageHolder {
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}

.features .featureCard .imageHolder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.features .featureCard .imageHolder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .featureCard:hover .imageHolder::after {
  border-width: 170px 500px 170px 0px;
}

.features .featureCard img {
  max-width: 100%;
}

.features .featureCard h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}

.features .featureCard h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 15px;
  width: calc(100% - 30px);
  height: 5px;
}

.features .featureCard p {
  flex-grow: 1; /* Makes the paragraph expand to take up available space */
  padding: 20px;
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  color: #555;
}

.features .featureCard .subscription-buy-now {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 22px;
  border-radius: 6px;
}
.features .featureCard .subscription-buy-now:hover {
  cursor: pointer;
}
/* Quality Card Styles */
.features .quality h2::after {
  background-color: red;
}

.features .quality .imageHolder::before {
  background-color: rgba(255, 0, 0, 0.5);
}

.features .quality .subscription-buy-now {
  color: red;
  border-color: red;
}

/* Time Card Styles */
.features .time .subscription-buy-now {
  color: green;
  border-color: green;
}

.features .time h2::after {
  background-color: green;
}

.features .time .imageHolder::before {
  background-color: rgba(0, 128, 0, 0.5);
}

/* Passion Card Styles */
.features .passion .subscription-buy-now {
  border-color: blue;
  color: blue;
}

.features .passion h2::after {
  background-color: blue;
}

.features .passion .imageHolder::before {
  background-color: rgba(0, 0, 255, 0.5);
}
/* End features*/

/* START CONTACT US */
/* Style inputs with type="text", select elements and textareas */
.contact-us {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* END CONTACT US */
/* start footer */
.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

/* end footer */
/* Start animation */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes up-and-down {
  0%,
  100% {
    top: -15px;
  }
  50% {
    top: -40px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  30%,
  50%,
  70%,
  80%,
  90%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-50%);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    width: 50%;
    height: 100%;
    left: 0;
    border-radius: 0;
  }
}
@keyframes rigth-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    width: 50%;
    height: 100%;
    right: 0;
    border-radius: 0;
  }
}
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End animation */
